html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

div {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color:  rgb(221, 221, 221);
}

h1 {
    text-align: center;
}


/* ~~~~~~~~~~NAV BAR~~~~~~~~~~ */

#img-nav {
  width: 70px;
  height: 70px;
}

nav {
    margin: -8px;
    height: 75px;
    align-items: center;
    background-color: rgb(33, 136, 240);
}

.nav-bar {
    margin-left: 20px;
    color: black;
    transition: .3s ease-in-out;
}

.nav-bar:hover {
    margin-left: 20px;
    color: rgb(50, 50, 50);
}

/* ~~~~~~~~~~NAV BAR~~~~~~~~~~ */



/* ~~~~~~~~~~~ USER CARD AND COMPS ~~~~~~~~~~~~~~ */
#add-button {
    background-color: rgb(33, 136, 240);
    border: none;
    height: 40px;
    width: 100px;
    margin-top: -15px;
    border-radius: 2px;
    transition: .3s ease-in-out;
}

#add-button:hover {
    background-color: rgb(94, 152, 211);
}

.title {
    background-color: grey;
    height: 40px;
    margin-top: 12px;
    width: 70%;
    border-radius: 2px;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
}

.user-section {
    background-color:  rgb(221, 221, 221);
    width: 400px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.user-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

/* ~~~~~~~~~~~ USER CARD AND COMPS ~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~ USER LIST & POSTS LIST ~~~~~~~~~~~~~~ */

.user-posts-card {
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 2px darkgrey;
    height: 420px;
}

.user-header2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -280px;
}


ul{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    list-style-type:circle;
}

ul li a {
    font-size: large;
    color: black;
    text-decoration: none;
    transition: .3s ease-in-out;
    border-bottom: 2px solid rgb(221, 221, 221);
}

ul li a:hover {
    border-bottom: 2px solid rgb(75, 75, 75);
}

/* ~~~~~~~~~~~ USER LIST & POSTS LIST ~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~ USER DETAILS ~~~~~~~~~~~~~~ */

#user-img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover; 
    margin-bottom: 10px;
}

.user-details {
    padding: 35px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:  rgb(221, 221, 221);
    border-radius: 3px;
}

.edit-button {
    margin-top: 10px;
    width: 250px;
    height: 35px;
    border-radius: 2px;
    text-transform: uppercase;
    border: none;
    background-color: rgb(80, 190, 137);
    transition: .3s ease-in-out;
}

.edit-button:hover {
    background-color: rgb(143, 209, 177);
}

.delete-button {
    margin-top: 10px;
    width: 250px;
    height: 35px;
    border-radius: 2px;
    border: none;
    text-transform: uppercase;
    background-color: rgb(241, 121, 121);
    transition: .3s ease-in-out;
}

.delete-button:hover {
    background-color: rgb(231, 145, 145);
}



/* ~~~~~~~~~~~ USER DETAILS ~~~~~~~~~~~~~~ */





/* ~~~~~~~~~~~~~~~~~~~~~~ forms and inputs ~~~~~~~~~~~~~~~~ */

.form {
    background-color:  rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-radius: 3px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

textarea, input {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 3px;
}


label {
    padding-top: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~ forms and inputs ~~~~~~~~~~~~~~~~ */




