{% extends "navbar.html" %} {% block title %} Home {% endblock %} {% block
content %}
<div class="container">
  <div class="row my-4">
    <div class="col">
      <h1>{{ tag.name }}</h1>
    </div>
    <div class="col-auto">
      <a href="/tags/{{tag.id}}/edit" class="btn btn-primary"> Edit Tag </a>
    </div>
    <div class="col-auto">
      <form action="/tags/{{tag.id}}/delete" method="POST">
        <button class="btn btn-danger">Delete Tag</button>
      </form>
    </div>
  </div>
  <ul class="list-group">
    {% for post in posts %}
    <li class="list-group-item">
      <a href="/posts/{{post.id}}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
